.yui3-scheduler-base-content {
	border-color: #BBCCFF;
	border-style: solid;
	border-width: 0 3px 3px;
	overflow: hidden;
}

.yui3-scheduler-base-nav {
	width: 61px;
	padding: 5px;
}

.yui3-scheduler-base-nav .yui3-scheduler-base-icon-next,
.yui3-scheduler-base-nav .yui3-scheduler-base-icon-prev {
	float: left;
}

.yui3-scheduler-base-nav .yui3-scheduler-base-icon-next {
	margin-left: 3px;
}

.yui3-scheduler-base-hd {
	background: #BBCCFF;
}

.yui3-scheduler-base-controls {
	float: left;
}

.yui3-scheduler-base-views {
	float: right;
}

.yui3-scheduler-base-controls {
	line-height: 27px;
	width: 350px;
}

.yui3-scheduler-base-views {
	line-height: 27px;
	width: 160px;
}

.yui3-scheduler-base-controls .yui3-scheduler-base-current-date,
.yui3-scheduler-base-controls .yui3-scheduler-base-nav,
.yui3-scheduler-base-controls .yui3-scheduler-base-today {
	float: left;
}

.yui3-scheduler-base-views .yui3-scheduler-base-view {
	color: #fff;
	float: left;
	margin-right: 10px;
}

.yui3-scheduler-base-controls .yui3-scheduler-base-today {
	color: #fff;
	margin: 0 5px 0 10px;
}

.yui3-scheduler-base-controls .yui3-scheduler-base-current-date {
	font-weight: bold;
}